h1.hometown {
    color:blue;font-size:200%; text-align:center ;
}
p.parrafo {
    color: yellow;
    text-align: left;
    margin-left: 20px ;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7RPhrG6zISslN0urp5LN5ioe1ebJns9nskA&usqp=CAU) ;
    background-repeat: no-repeat;
    background-size: 200%;
}
.div{
    background-color: gray;
}