
div{
    width: 100%;
    text-align: center;
    color: black;
    display: none;
}

body {
    background-color: pink;
    
  }
  
  @media (min-width:0px) and (max-width: 480px) {
    body {
      background-color: lightgreen;
    }
    #movil{
        display: block;
    }
  }
  @media screen and (min-width: 481px) and (max-width:768px) {
    body{
        background-color: red;

    }
    #tablet{
        display: block;
    }
  }
  @media screen and (min-width: 769px) and (max-width:1279px) {
    body{
        background-color: yellow

    }
    #portatil{
        display: block;
    }
  }
  @media screen and (min-width: 1280px){
    body{
        background-color: purple

    }
    #escritorio{
        display: block;
    }
  }